In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('housingdata.csv')

In [3]:
df = df.drop('Unnamed: 0', axis = 1)

In [4]:
df = df.drop('PID', axis = 1)

In [5]:
df.isnull().sum().sort_values(ascending = False)

MS SubClass     0
Half Bath       0
Fireplace Qu    0
Fireplaces      0
Functional      0
               ..
Mas Vnr Area    0
Mas Vnr Type    0
Exterior 2nd    0
Exterior 1st    0
SalePrice       0
Length: 76, dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2925 entries, 0 to 2924
Data columns (total 76 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   MS SubClass      2925 non-null   int64
 1   MS Zoning        2925 non-null   object
 2   Lot Frontage     2925 non-null   float64
 3   Lot Area         2925 non-null   int64
 4   Street           2925 non-null   object
 5   Lot Shape        2925 non-null   object
 6   Land Contour     2925 non-null   object
 7   Utilities        2925 non-null   object
 8   Lot Config       2925 non-null   object
 9   Land Slope       2925 non-null   object
 10  Neighborhood     2925 non-null   object
 11  Condition 1      2925 non-null   object
 12  Condition 2      2925 non-null   object
 13  Bldg Type        2925 non-null   object
 14  House Style      2925 non-null   object
 15  Overall Qual     2925 non-null   int64
 16  Overall Cond     2925 non-null   int64
 17  Year Built       2925 non-null   int64
 18  Year Remod/Add   2925 non-null   int64
 19  Roof Style       2925 non-null   object
 20  Roof Matl        2925 non-null   object
 21  Exterior 1st     2925 non-null   object
 22  Exterior 2nd     2925 non-null   object
 23  Mas Vnr Type     2925 non-null   object
 24  Mas Vnr Area     2925 non-null   float64
 25  Exter Qual       2925 non-null   object
 26  Exter Cond       2925 non-null   object
 27  Foundation       2925 non-null   object
 28  Bsmt Qual        2925 non-null   object
 29  Bsmt Cond        2925 non-null   object
 30  Bsmt Exposure    2925 non-null   object
 31  BsmtFin Type 1   2925 non-null   object
 32  BsmtFin SF 1     2925 non-null   float64
 33  BsmtFin Type 2   2925 non-null   object
 34  BsmtFin SF 2     2925 non-null   float64
 35  Bsmt Unf SF      2925 non-null   float64
 36  Total Bsmt SF    2925 non-null   float64
 37  Heating          2925 non-null   object
 38  Heating QC       2925 non-null   object
 39  Central Air      2925 non-null   object
 40  Electrical       2925 non-null   object
 41  1st Flr SF       2925 non-null   int64
 42  2nd Flr SF       2925 non-null   int64
 43  Low Qual Fin SF  2925 non-null   int64
 44  Gr Liv Area      2925 non-null   int64
 45  Bsmt Full Bath   2925 non-null   float64
 46  Bsmt Half Bath   2925 non-null   float64
 47  Full Bath        2925 non-null   int64
 48  Half Bath        2925 non-null   int64
 49  Bedroom AbvGr    2925 non-null   int64
 50  Kitchen AbvGr    2925 non-null   int64
 51  Kitchen Qual     2925 non-null   object
 52  TotRms AbvGrd    2925 non-null   int64
 53  Functional       2925 non-null   object
 54  Fireplaces       2925 non-null   int64
 55  Fireplace Qu     2925 non-null   object
 56  Garage Type      2925 non-null   object
 57  Garage Yr Blt    2925 non-null   float64
 58  Garage Finish    2925 non-null   object
 59  Garage Cars      2925 non-null   float64
 60  Garage Area      2925 non-null   float64
 61  Garage Qual      2925 non-null   object
 62  Garage Cond      2925 non-null   object
 63  Paved Drive      2925 non-null   object
 64  Wood Deck SF     2925 non-null   int64
 65  Open Porch SF    2925 non-null   int64
 66  Enclosed Porch   2925 non-null   int64
 67  3Ssn Porch       2925 non-null   int64
 68  Screen Porch     2925 non-null   int64
 69  Pool Area        2925 non-null   int64
 70  Misc Val         2925 non-null   int64
 71  Mo Sold          2925 non-null   int64
 72  Yr Sold          2925 non-null   int64
 73  Sale Type        2925 non-null   object
 74  Sale Condition   2925 non-null   object
 75  SalePrice        2925 non-null   int64
dtypes: float64(11), int64(26), object(39)
memory usage: 1.7+ MB

In [7]:
df['MS SubClass'] = np.array(df['MS SubClass'], dtype = 'str')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2925 entries, 0 to 2924
Data columns (total 76 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   MS SubClass      2925 non-null   object
 1   MS Zoning        2925 non-null   object
 2   Lot Frontage     2925 non-null   float64
 3   Lot Area         2925 non-null   int64
 4   Street           2925 non-null   object
 5   Lot Shape        2925 non-null   object
 6   Land Contour     2925 non-null   object
 7   Utilities        2925 non-null   object
 8   Lot Config       2925 non-null   object
 9   Land Slope       2925 non-null   object
 10  Neighborhood     2925 non-null   object
 11  Condition 1      2925 non-null   object
 12  Condition 2      2925 non-null   object
 13  Bldg Type        2925 non-null   object
 14  House Style      2925 non-null   object
 15  Overall Qual     2925 non-null   int64
 16  Overall Cond     2925 non-null   int64
 17  Year Built       2925 non-null   int64
 18  Year Remod/Add   2925 non-null   int64
 19  Roof Style       2925 non-null   object
 20  Roof Matl        2925 non-null   object
 21  Exterior 1st     2925 non-null   object
 22  Exterior 2nd     2925 non-null   object
 23  Mas Vnr Type     2925 non-null   object
 24  Mas Vnr Area     2925 non-null   float64
 25  Exter Qual       2925 non-null   object
 26  Exter Cond       2925 non-null   object
 27  Foundation       2925 non-null   object
 28  Bsmt Qual        2925 non-null   object
 29  Bsmt Cond        2925 non-null   object
 30  Bsmt Exposure    2925 non-null   object
 31  BsmtFin Type 1   2925 non-null   object
 32  BsmtFin SF 1     2925 non-null   float64
 33  BsmtFin Type 2   2925 non-null   object
 34  BsmtFin SF 2     2925 non-null   float64
 35  Bsmt Unf SF      2925 non-null   float64
 36  Total Bsmt SF    2925 non-null   float64
 37  Heating          2925 non-null   object
 38  Heating QC       2925 non-null   object
 39  Central Air      2925 non-null   object
 40  Electrical       2925 non-null   object
 41  1st Flr SF       2925 non-null   int64
 42  2nd Flr SF       2925 non-null   int64
 43  Low Qual Fin SF  2925 non-null   int64
 44  Gr Liv Area      2925 non-null   int64
 45  Bsmt Full Bath   2925 non-null   float64
 46  Bsmt Half Bath   2925 non-null   float64
 47  Full Bath        2925 non-null   int64
 48  Half Bath        2925 non-null   int64
 49  Bedroom AbvGr    2925 non-null   int64
 50  Kitchen AbvGr    2925 non-null   int64
 51  Kitchen Qual     2925 non-null   object
 52  TotRms AbvGrd    2925 non-null   int64
 53  Functional       2925 non-null   object
 54  Fireplaces       2925 non-null   int64
 55  Fireplace Qu     2925 non-null   object
 56  Garage Type      2925 non-null   object
 57  Garage Yr Blt    2925 non-null   float64
 58  Garage Finish    2925 non-null   object
 59  Garage Cars      2925 non-null   float64
 60  Garage Area      2925 non-null   float64
 61  Garage Qual      2925 non-null   object
 62  Garage Cond      2925 non-null   object
 63  Paved Drive      2925 non-null   object
 64  Wood Deck SF     2925 non-null   int64
 65  Open Porch SF    2925 non-null   int64
 66  Enclosed Porch   2925 non-null   int64
 67  3Ssn Porch       2925 non-null   int64
 68  Screen Porch     2925 non-null   int64
 69  Pool Area        2925 non-null   int64
 70  Misc Val         2925 non-null   int64
 71  Mo Sold          2925 non-null   int64
 72  Yr Sold          2925 non-null   int64
 73  Sale Type        2925 non-null   object
 74  Sale Condition   2925 non-null   object
 75  SalePrice        2925 non-null   int64
dtypes: float64(11), int64(25), object(40)
memory usage: 1.7+ MB

In [9]:
df_nums = df.select_dtypes(exclude='object')
df_objs = df.select_dtypes(include='object')

In [10]:
df_objs = pd.get_dummies(df_objs,drop_first=True)

In [11]:
final_df = pd.concat([df_nums,df_objs],axis=1)

In [12]:
final_df.corr()['SalePrice'].sort_values()

Exter Qual_TA       -0.591459
Kitchen Qual_TA     -0.527461
Fireplace Qu_None   -0.481740
Bsmt Qual_TA        -0.453022
Garage Finish_Unf   -0.422363
                       ...
Garage Cars          0.648488
Total Bsmt SF        0.660983
Gr Liv Area          0.727279
Overall Qual         0.802637
SalePrice            1.000000
Name: SalePrice, Length: 274, dtype: float64

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
final_df

,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,BsmtFin SF 2,Bsmt Unf SF,...,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD,Sale Condition_AdjLand,Sale Condition_Alloca,Sale Condition_Family,Sale Condition_Normal,Sale Condition_Partial
0,141.000000,31770,6,5,1960,1960,112.0,639.0,0.0,441.0,...,0,0,0,0,1,0,0,0,1,0
1,80.000000,11622,5,6,1961,1961,0.0,468.0,144.0,270.0,...,0,0,0,0,1,0,0,0,1,0
2,81.000000,14267,6,6,1958,1958,108.0,923.0,0.0,406.0,...,0,0,0,0,1,0,0,0,1,0
3,93.000000,11160,7,5,1968,1968,0.0,1065.0,0.0,1045.0,...,0,0,0,0,1,0,0,0,1,0
4,74.000000,13830,5,5,1997,1998,0.0,791.0,0.0,137.0,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2920,37.000000,7937,6,6,1984,1984,0.0,819.0,0.0,184.0,...,0,0,0,0,1,0,0,0,1,0
2921,75.144444,8885,5,5,1983,1983,0.0,301.0,324.0,239.0,...,0,0,0,0,1,0,0,0,1,0
2922,62.000000,10441,5,5,1992,1992,0.0,337.0,0.0,575.0,...,0,0,0,0,1,0,0,0,1,0
2923,77.000000,10010,5,5,1974,1975,0.0,1071.0,123.0,195.0,...,0,0,0,0,1,0,0,0,1,0
2924,74.000000,9627,7,5,1993,1994,94.0,758.0,0.0,238.0,...,0,0,0,0,1,0,0,0,1,0

In [15]:
X = final_df.drop('SalePrice', axis = 1)

In [16]:
y = final_df['SalePrice']

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=101)

In [18]:
from sklearn.preprocessing import StandardScaler

In [19]:
from sklearn.linear_model import ElasticNet

In [20]:
scaler = StandardScaler()

In [21]:
model1 = ElasticNet()

In [22]:
from sklearn.pipeline import Pipeline

In [23]:
operations = [('scaler', scaler), ('model1', model1)]

In [85]:
pipe1 = Pipeline(operations)

In [141]:
par_grid = {'model1__alpha': [0.1, 1, 10, 70, 0.01], 'model1__l1_ratio': [0, 0.95, 1, 0.5, 0.7, 4,10,11, 2, 0.89]}

In [142]:
from sklearn.model_selection import GridSearchCV

In [143]:
grid = GridSearchCV(estimator = pipe1, param_grid =par_grid)

In [144]:
grid.fit(X_train, y_train)

GridSearchCV(estimator=Pipeline(steps=[('scaler', StandardScaler()),
                                       ('model1', ElasticNet())]),
             param_grid={'model1__alpha': [0.1, 1, 10, 70, 0.01],
                         'model1__l1_ratio': [0, 0.95, 1, 0.5, 0.7, 4, 10, 11,
                                              2, 0.89]})

In [145]:
import warnings
warnings.simplefilter('ignore')

In [146]:
from sklearn.metrics import r2_score

In [147]:
grid.best_params_

{'model1__alpha': 70, 'model1__l1_ratio': 1}

In [148]:
grid_pred = grid.predict(X_test)

In [149]:
r2_score(y_test, grid_pred)

0.918777411599136

In [150]:
model = ElasticNet(alpha = 70, l1_ratio = 1)

In [151]:
operation = [('scaler', scaler), ('model', model)]

In [152]:
pipe = Pipeline(operation)

In [153]:
pipe.fit(X_train, y_train)

Pipeline(steps=[('scaler', StandardScaler()),
                ('model', ElasticNet(alpha=70, l1_ratio=1))])

In [154]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [155]:
y_pred = pipe.predict(X_test)

In [156]:
MAE =  mean_absolute_error(y_test, y_pred)

In [157]:
RMSE = np.sqrt(mean_squared_error(y_test, y_pred))

In [158]:
MAE

14334.13298974746

In [159]:
RMSE

22009.646605895872

In [160]:
score = r2_score(y_test, y_pred)

In [161]:
score

0.918777411599136

In [162]:
np.mean(df['SalePrice'])

180815.53743589742

In [163]:
df['SalePrice']

0       215000
1       105000
2       172000
3       244000
4       189900
         ...
2920    142500
2921    131000
2922    132000
2923    170000
2924    188000
Name: SalePrice, Length: 2925, dtype: int64