In [1]:
import pandas as pd

In [6]:
new = pd.read_csv('kaggle_titanic3.csv')

In [7]:
new

     Unnamed: 0  PassengerId  Survived
0             0          892         0
1             1          893         0
2             2          894         0
3             3          895         0
4             4          896         0
..          ...          ...       ...
413         413         1305         0
414         414         1306         1
415         415         1307         0
416         416         1308         0
417         417         1309         0

[418 rows x 3 columns]

In [8]:
new = new.drop('Unnamed: 0',axis = 1)

In [9]:
new.to_csv('kaggle_titanic3.csv',index = False)